* {
    box-sizing: border-box;
}

:root {
    --color-white-1: #FFFFFF;
    --color-white-2: #F7F7F7;
    --color-gray-1: #E8E9ED;
    --color-gray-2: #00000029;
    --color-gray-3: #A5A5A5;
    --color-gray-4: #95989A;
    --color-gray-5: #707070;
    --color-gray-6: #13253B;
    --color-black: #000000;
    --color-blue-1: #08A6E4;
    --color-blue-2: #07ACE6;
    --color-blue-3: #07ACE629;
    --color-red-1: #FB3B64;
    --color-red-2: #EB476E;
    --color-red-3: #F9043629;
    --color-red-4: #FF091129;
    --color-green: #55DFB4;

    --border-radius-pricing-box: 18px;
    --border-radius-pricing-button: 23px;
    --border-radius-pricing-calculator: 6px;

    --margin-page-header: 17px;

    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/*font-family: 'Raleway', sans-serif;*/

.container {
    display: flex;
    max-width: 1352px;
    margin: 0 auto;
    padding: 0;
}

h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    line-height: 42px;
    color: var(--color-black);
}

.page-header,
.statistics {
    max-width: 100vw;
}

.page-header > .container {
    justify-content: space-between;
    box-shadow: 0 3px 6px var(--color-gray-2);
    align-items: center;
    height: 100%;
}

.page-header-logo {
    color: var(--color-blue-1);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    /*Tutaj margines jest 16px bo mi nie wyglada dobrze jak jest bez marginesu*/
    margin: 16px 0 17px 16px;
}

.page-menu__list {
    display: flex;
}

.page-menu__list-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-gray-3);
    font-weight: bold;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    padding: 28px 18px 22px;
}

.page-menu__list-link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-blue-1);
}

.opening {
    display: flex;
    flex-direction: column;
}

.opening-header {
    color: var(--color-black);
    font-family: 'Raleway', sans-serif;
    font-size: 49px;
    line-height: 57px;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 20px;
}

.opening-content {
    color: var(--color-black);
    line-height: 22px;
    text-align: center;
}

.opening-button {
    display: inline-block;
    background-color: var(--color-blue-1);
    box-shadow: 5px 10px 14px var(--color-blue-3);
    border-radius: 40px;
    padding: 22px 157px;
    margin: 38px auto;
    text-decoration: none;
    text-align: center;
    color: var(--color-white-1);
    font-weight: bold;
    line-height: 22px;
}

.statistics > .container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 -5px 80px var(--color-gray-2);
}

.statistics-header {
    text-align: center;
    margin-top: 100px;
}

.statistics-circles {
    display: flex;
    flex-direction: row;
    margin-top: 101px;
    justify-content: space-evenly;
}

.statistics-circles__numbers {
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
    line-height: 24px;
    letter-spacing: 5.96px;
    color: var(--color-black);
}

.statistics-circles__info {
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    text-align: center;
    line-height: 20;
    color: var(--color-gray-3);
}