:root {
    --color-white-1: #FFFFFF;
    --color-white-2: #F7F7F7;
    --color-gray-1: #E8E9ED;
    --color-gray-2: #00000029;
    --color-gray-3: #A5A5A5;
    --color-gray-4: #95989A;
    --color-gray-5: #707070;
    --color-gray-6: #13253B;
    --color-black: #000000;
    --color-blue-1: #08A6E4;
    --color-blue-2: #07ACE6;
    --color-blue-3: #07ACE629;
    --color-red-1: #FB3B64;
    --color-red-2: #EB476E;
    --color-red-3: #F9043629;
    --color-red-4: #FF091129;
    --color-green: #55DFB4;

    --border-radius-pricing-box: 18px;
    --border-radius-pricing-button: 23px;
    --border-radius-pricing-calculator: 6px;

    --margin-page-header: 17px;

    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

/*font-family: 'Raleway', sans-serif;*/

.container {
    max-width: 1352px;
    margin: 0;
    padding: 0;
}

.page-header {
    max-width: 100vh;

}

.page-header > .container {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 6px var(--color-gray-2);
}

.page-header-logo {
    color: var(--color-blue-1);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 37px;
    /*Tutaj margines jest 16px bo mi nie wyglada dobrze jak jest bez marginesu*/
    margin: 16px 0 17px 16px;
}

.page-menu__list {
    display: flex;
}

.page-menu__list-link {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    color: var(--color-gray-3);
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 3.28px;
    padding: 28px 27px;
}

.page-menu__list-link:hover {
    color: var(--color-black);
    border-bottom: 4px solid var(--color-blue-1);
}
