@import "../settings/_root.scss";
@import "../settings/_mixins.scss";

.opening {
  display: flex;
  flex-direction: column;
}

.opening-header {
  color: $color-black;
  font-family: 'Raleway', sans-serif;
  font-size: 49px;
  line-height: 57px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 20px;
}

.opening-content {
  color: $color-black;
  line-height: 22px;
  text-align: center;
}

.opening-button {
  display: inline-block;
  background-color: $color-blue-1;
  box-shadow: 5px 10px 14px $color-blue-3;
  border-radius: 40px;
  padding: 22px 157px;
  margin: 38px auto;
  text-decoration: none;
  text-align: center;
  color: $color-white-1;
  font-weight: bold;
  line-height: 22px;
}