@import "../settings/_root.scss";
@import "../settings/_mixins.scss";

.opening {
  display: flex;
  flex-direction: column;
  padding-bottom: 0;

  @media (max-width: 831px) {
    padding-left: 33px;
    padding-right: 33px;
    padding-bottom: 0;
  }
}

.opening-header {
  color: $color-black;
  font-family: 'Raleway', sans-serif;
  font-size: 49px;
  line-height: 57px;
  text-align: center;
  margin-top: 130px;
  margin-bottom: 20px;

  @media (max-width: 831px) {
    font-size: 35px;
  }
}

.opening-content {
  color: $color-black;
  line-height: 22px;
  text-align: center;

  @media (max-width: 831px) {
    margin-left: 10px;
    margin-right: 10px;
  }
}

.opening-button {
  display: inline-block;
  background-color: $color-blue-1;
  box-shadow: 5px 10px 14px $color-blue-3;
  border-radius: 40px;
  padding: 22px 157px;
  margin: 38px auto;
  text-decoration: none;
  text-align: center;
  color: $color-white-1;
  font-weight: bold;
  line-height: 22px;

  @media (max-width: 400px) {
    padding: 22px 25px;
    width: 80vw;
  }

  @media (max-width: 700px) {
    padding: 22px 25px;
    width: 80vw;
  }
}

.opening-image {
  @media (max-width: 831px) {
    width: 200vw;
    align-self: center;
  }
}