@import "../settings/_root.scss";
@import "../settings/_mixins.scss";

.statistics > .container {
  display: flex;
  flex-direction: column;

  @media (max-width: 831px) {
    padding: 50px 36px;
  }
}

.statistics-header {
  text-align: center;
  margin-top: 100px;

  @media (max-width: 831px) {
    margin: 0;
    font-size: 1.875em;
    line-height: 35px;
  }
}

.statistics-circles {
  display: flex;
  flex-direction: row;
  margin-top: 101px;
  justify-content: space-evenly;

  @media (max-width: 831px) {
    flex-direction: column;
    margin: 25px auto;
  }

}

.statistics-circles__1,
.statistics-circles__2,
.statistics-circles__3 {
  text-align: center;

  @media (max-width: 831px) {
    align-self: center;
    margin: 25px auto;
  }
}

.statistics-circles__1__img {
  display: inline-block;
  width: 62.71px;
  height: 62.71px;
  background-color: $color-red-1;
  border-radius: 1000px;
  position: relative;
}

.statistics-circles__1__img::after {
  content: "";
  width: 44px;
  height: 52px;
  background-image: url(../assets/Person.svg);
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 10%;
  background-repeat: no-repeat;
  background-position: center;
}

.statistics-circles__2__img {
  display: inline-block;
  width: 63px;
  height: 63px;
  background-color: $color-blue-1;
  border-radius: 1000px;
  position: relative;
}


.statistics-circles__2__img::after {
  content: "";
  width: 65px;
  height: 37px;
  background-image: url(../assets/Eye.svg);
  z-index: 1;
  position: absolute;
  left: 32.7%;
  bottom: 20%;
  background-repeat: no-repeat;
  background-position: center;
}

.statistics-circles__3__img {
  display: inline-block;
  width: 62.71px;
  height: 62.71px;
  background-color: $color-green;
  border-radius: 1000px;
  position: relative;
  text-align: center;
}


.statistics-circles__3__img::after {
  content: "";
  width: 52px;
  height: 48px;
  background-image: url(../assets/Catalog.svg);
  z-index: 1;
  position: absolute;
  left: 50%;
  bottom: 10%;
  background-repeat: no-repeat;
  background-position: center;

}

.statistics-circles__numbers {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 20px;
  text-align: center;
  line-height: 24px;
  letter-spacing: 5.96px;
  color: $color-black;
  margin: 14px 0 19px 0;
}

.statistics-circles__info {
  font-family: 'Raleway', sans-serif;
  /*font-size: 176px;*/
  text-align: center;
  line-height: 20px;
  color: $color-gray-3;
  overflow-wrap: break-word;
  max-width: 130px;
}